#gridcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "one one one one"
    "two two three three"
    "two two four five";
    grid-gap: 0.2rem;
}

#one {
    background-color: red;
    grid-area: one;
}

#two {
    background-color: blue;
    grid-area: two;
}

#three {
    background-color: green;
    grid-area: three;
}

#four {
    background-color: purple;
    grid-area: four;
}

#five {
    background-color: purple;
    grid-area: five;
}