body {
  background-color: #f8f8f8;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2c3e50;
  text-align: center;
  font-size: 2.5em;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

label,
.radio-label {
  font-weight: 500;
  font-size: 1.1em;
  color: #2c3e50;
  margin: 5px 0;
  display: block;
}

.radio-label {
  display: inline-flex;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 15px;
  transform: scale(1.2);
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 1.2em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: white;
  color: #3498db;
  border: 1px solid #3498db;
}

p {
  margin-top: 20px;
  color: #e74c3c;
  font-size: 1em;
}

.bounty-list {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;
  width: 100%;
  padding: 20px;
}

.bounty-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  list-style: none;
}

@media screen and (min-width: 600px) {
  .bounty-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .bounty-item {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .bounty-item {
    width: 50%;
  }
}
