@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

body {
    background-image: linear-gradient(270deg, rgb(0, 217, 255), rgb(212, 129, 212));
    font-family: 'Luckiest Guy', cursive;
    margin-top: 10vh;
}

.buttons {
    border-radius: 10px;
    font-size: 15px;
    opacity: .5;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bolder;
    margin-top: 5vh;
}

#clickMe {
    margin: 10px;
    padding: 10px;
}

#reset {
    padding: 5px;
}

#start {
    padding: 5px;
    margin-bottom: 10px;
}