.App-logo {
  pointer-events: none;
  max-height: 100px;
  max-width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-bar {
  display: flex;
  height: 100px;
  align-items: center;
  border-bottom: solid grey;
  background-color: #21222a;
  color:#61dafb;
}

.nav-title {
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-menu, .main-section, .footer-section {
  color: white;
}

.nav-menu {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.main-section {
  background-image: url(../public/logo192.png);
  background-repeat: no-repeat;
  background-position-x: 112%;
  background-position-y: 50%;
}

.main-section, .footer-section {
  padding: 57px 27px;
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-list {
  margin-top: 46px;
  max-width: 400px;
}

.main-list-items {
  line-height: 19px;
  padding-block: 10px;
}

li::marker {
  font-size: 1.4rem;
  color:#61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
